.FormInputs {
  margin-bottom: 50px;
}
.FormInputs input {
  border-radius: 10px;
  width: 50vw;
  height: 30px;
  border: 1px solid;
  padding: 12px 20px;
  font-size: 1.25rem;
}

textarea,
input {
  outline: none;
}

.formButton {
  width: 54vw;
  height: 50px;
  color: white;
  background-color: rgb(83, 83, 158);
  border-radius: 10px;
  font: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}
.formButton:disabled {
  cursor: not-allowed;
  background-color: grey;
  opacity: 0.5;
}
