.mainNews {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 20vh 20vh 55vh;
  border-bottom: 1px solid rgb(73, 69, 69);
  column-gap: 30px;
  margin: 0 50px 0 50px;
  grid-template-areas: "featured" "headLine1" "headeLine2";
}

.featured {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-area: "featured";
}
.headLine1 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-area: "headLine1";
}
.headLine2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-area: "headLine2";
}

.secondaryNews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vh 50vh 10vh;
  column-gap: 30px;
  margin: 150px 60px 0 60px;
}

@media screen and (max-width: 1000px) {
  .mainNews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.75fr;
    border-bottom: none;
    column-gap: 10px;
    grid-template-areas:
      "featured" "featured"
      "headLine1" "headeLine2";
    margin-left: 3%;
    column-gap: 60px;
  }
  .featured {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-area: "featured";
    font-size: 0.9rem;
  }
  .headLine1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: "headLine1";
    font-size: 0.9rem;
  }
  .headLine2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: "headLine2";
    font-size: 0.9rem;
  }
  .secondaryNews {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.75fr 0.75fr;
    margin-left: 3%;
    column-gap: 60px;
  }
}
