.WelcomeContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.interestsTitle {
  font-size: 1rem;
  justify-content: flex-start;
}
.interests {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.interests h3 {
  align-self: center;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 8px 24px;
  transition-duration: 0.4s;
  border-radius: 14px;
}
.buttonSave {
  width: 15vw;
  height: 40px;
  color: white;
  background-color: rgb(83, 83, 158);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: inherit;
  margin-bottom: 20px;
}
.buttonSave:hover {
  opacity: 0.9;
}
.buttonBackHome {
  color: rgb(83, 83, 158);
  background-color: white;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.politicsInterests {
  border: 2px solid rgb(219, 102, 102);
  background-color: white;
  color: rgb(219, 102, 102);
}

.politicsInterestsActive {
  background-color: rgb(219, 102, 102);
  color: white;
}
.businessInterests {
  border: 2px solid rgb(117, 57, 117);
  background-color: white;
  color: rgb(117, 57, 117);
}

.businessInterestsActive {
  background-color: rgb(117, 57, 117);
  color: white;
}

.techInterests {
  border: 2px solid rgb(63, 63, 182);
  background-color: white;
  color: rgb(63, 63, 182);
}

.techInterestsActive {
  background-color: rgb(63, 63, 182);
  color: white;
}

.scienceInterests {
  border: 2px solid rgb(90, 170, 90);
  background-color: white;
  color: rgb(90, 170, 90);
}

.scienceInterestsActive {
  background-color: rgb(90, 170, 90);
  color: white;
}

.sportsInterests {
  border: 2px solid rgb(214, 142, 7);
  background-color: white;
  color: rgb(214, 142, 7);
}

.sportsInterestsActive {
  background-color: rgb(214, 142, 7);
  color: white;
}
.welcomeTitle {
  animation: WelcomeAnimation 1s;
}

@keyframes WelcomeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcomeButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .interests {
    flex-direction: column;
  }
}
